<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Report</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container-principal">
        <h1 class="titulo_report">Test Report CSV</h1>
        <!-- Contenedor para el gráfico circular -->
        <div id="container-canva">
            <canvas id="stepsChart"></canvas>
        </div>

        <!-- Contenedor para el gráfico de barras de duración de los pasos -->
        <div id="container-duration-canva">
            <canvas id="durationChart"></canvas>
        </div>
        <br>
        <br>
        <br>
        <p id="totalSteps">Total Steps:</p>

        {% for feature in json_data %}
            <div class="header-feature">
                <h2>Feature: {{ feature['name'] }}</h2>
                <p><strong>Total Steps Status:</strong> <span class="{{ feature['status'] }}">{{ feature['status'] }}</span></p>
                <p><strong>Location:</strong> {{ feature['location'] }}</p>
            </div>

            {% for element in feature['elements'] %}
                <div class="body-feature">
                    <h3>{{ element['keyword'] }}: {{ element['name'] }}</h3>
                    <p><strong>Tags:</strong> {{ element['tags'] | join(', ') }}</p>
                    <p><strong>Status:</strong> <span class="{{ element['status'] }}">{{ element['status'] }}</span></p>
                    <table>
                        <thead>
                            <tr>
                                <th>Step</th>
                                <th>Result</th>
                                <th>Duration (s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for step in element['steps'] %}
                                <tr>
                                    <td>{{ step['keyword'] }} {{ step['name'] }}</td>
                                    <td class="{{ step.get('result', {}).get('status', 'No Result') }}">{{ step.get('result', {}).get('status', 'No Result') }}</td>
                                    <td class="duration-cell" data-duration="{{ step.get('result', {}).get('duration', 'N/A') }}">
                                        {{ step.get('result', {}).get('duration', 'N/A') }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endfor %}
    </div><!--End Container principal-->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    // Inicializar contadores para los pasos
    let passedSteps = 0;
    let failedSteps = 0;

    // Seleccionar todos los elementos de la tabla que contienen los resultados de los pasos
    const resultElements = document.querySelectorAll("td:nth-child(2)");

    // Contar los pasos exitosos y fallidos
    resultElements.forEach((element) => {
        const result = element.textContent.trim();
        if (result === "passed") {
            passedSteps++;
        } else if (result === "failed") {
            failedSteps++;
        }
    });

    // Calcular el total de pasos
    const totalSteps = passedSteps + failedSteps;

    // Porcentajes
    const passedPercentage = (passedSteps / totalSteps) * 100;
    const failedPercentage = (failedSteps / totalSteps) * 100;

    // Configuración del gráfico circular
    const ctx = document.getElementById('stepsChart').getContext('2d');
    const stepsChart = new Chart(ctx, {
        type: 'pie', // Tipo de gráfico
        data: {
            labels: [`Passed (${passedSteps})`, `Failed (${failedSteps})`], // Incluye la cantidad en los labels
            datasets: [{
                label: 'Steps Result',
                data: [passedPercentage, failedPercentage],
                backgroundColor: [
                    'rgba(7, 176, 19, 0.8)', // Color para "Passed"
                    'rgba(241, 19, 17, 0.8)' // Color para "Failed"
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Steps Results'
                }
            }
        },
    });

    // Obtener los elementos que contienen los tiempos de duración de los pasos
    const durationElements = document.querySelectorAll(".duration-cell");

    // Inicializar contadores para los rangos de tiempo
    let lessThanPointOne = 0;
    let pointOneToHalf = 0;
    let halfToOne = 0;
    let moreThanOne = 0;

    // Calcular la distribución de los tiempos de duración de los pasos en los cuatro rangos
    durationElements.forEach((element) => {
        const duration = parseFloat(element.textContent.trim());
        if (!isNaN(duration)) {
            if (duration < 0.001) {
                lessThanPointOne++;
            } else if (duration >= 0.001 && duration < 0.1) {
                pointOneToHalf++;
            } else if (duration >= 0.1 && duration < 0.5) {
                halfToOne++;
            } else {
                moreThanOne++;
            }
        }
    });

    // Crear el gráfico de barras para mostrar la distribución de los tiempos de duración de los pasos
    const durationCtx = document.getElementById("durationChart").getContext("2d");
    const durationChart = new Chart(durationCtx, {
        type: "bar",
        data: {
            labels: ["< 0.001", "0.001 - 0.1", "0.1 - 0.5", "> 0.5"],
            datasets: [{
                label: "Step Duration",
                data: [lessThanPointOne, pointOneToHalf, halfToOne, moreThanOne],
                backgroundColor: [
                    "rgba(255, 99, 132, 0.8)",
                    "rgba(54, 162, 235, 0.8)",
                    "rgba(255, 206, 86, 0.8)",
                    "rgba(75, 192, 192, 0.8)"
                ],
                borderColor: [
                    "rgba(255, 99, 132, 1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(255, 206, 86, 1)",
                    "rgba(75, 192, 192, 1)"
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: "Number of Steps"
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: "Duration Range (s)"
                    }
                }
            }
        }
    });

    // Mostrar el total de pasos con animación
    const totalStepsElement = document.getElementById("totalSteps");
    totalStepsElement.textContent = `Total Steps: 0`;

    // Definir el número de incrementos para la animación
    const numberOfIncrements = 40;

    // Calcular el incremento por paso
    const stepIncrement = Math.ceil(totalSteps / numberOfIncrements);

    // Animar el incremento del número de pasos
    let currentSteps = 0;
    const incrementSteps = () => {
        if (currentSteps < totalSteps) {
            currentSteps += stepIncrement;
            if (currentSteps > totalSteps) {
                // Ajustar el valor final para evitar que sea mayor que totalSteps
                currentSteps = totalSteps;
            }
            totalStepsElement.textContent = `Total Steps: ${currentSteps}`;
            setTimeout(incrementSteps, 5);
        }
    };
    incrementSteps();
});

  </script>

</body>
