<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Test Report</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" media="all" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="report-container">
      {% for tags in json_data %}
      <div class="row">
        <h1 class="titulo_report text-center m-0">{{ tags ['tags'] [1] }}</h1>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center align-items-center">
          <p><b>Project name:</b> {{ tags ['tags'] [0] }}</p>
          <p><b>Tests Cases:</b> {{ tags ['tags'] [2] }}</p>
          <p><b>Enviroment:</b> {{ tags ['tags'] [3] }}</p>
          <p><b>Version:</b> {{ tags ['tags'] [4] }}</p>
        </div>
      </div>
      {% endfor %}
      <hr class="m-0 border border-primary border-3 rounded-pill" />

      <div class="row">
        <!-- Contenedor para el gráfico circular -->
        <div class="col" id="container-canva">
          <canvas id="stepsChart"></canvas>
        </div>

        <!-- Contenedor para el gráfico de barras de duración de los pasos -->
        <div class="col" id="container-duration-canva">
          <canvas id="durationChart"></canvas>
        </div>
      </div>

      <br />
      <h4 id="totalSteps">Total Steps:</h4>
      {% for feature in json_data %}
      <div class="header-feature mb-3">
        <h2>Feature: Feature: {{ feature['name'] }}</h2>
        <p>
          <strong>Total Steps Status:</strong>
          <span class="{{ feature['status'] }}">{{ feature['status'] }}</span>
        </p>
        <p><strong>Location:</strong> {{ feature['location'] }}</p>
        <p><strong>Date: </strong><span id="currentDateTime"></span></p>
      </div>

      {% for element in feature['elements'] %}
      <div class="body-feature">
        <h3>{{ element['keyword'] }}: {{ element['name'] }}</h3>
        <p><strong>Tags:</strong> {{ element['tags'] | join(', ') }}</p>
        <p>
          <strong>Status:</strong>
          <span class="{{ element['status'] }}">{{ element['status'] }}</span>
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Step</th>
              <th class="text-center">Result</th>
              <th class="duration-column">Duration (s)</th>
            </tr>
          </thead>
          <tbody>
            {% for step in element['steps'] %}
            <tr>
              <td>
                <span class="first-word"
                  >{{ step['keyword'] }} {{ step['name'] }}</span
                >
              </td>
              <td
                class="{{ step.get('result', {}).get('status', 'No Result') }}"
              >
                {{ step.get('result', {}).get('status', 'No Result') }}
              </td>
              <td
                class="duration-cell"
                data-duration="{{ step.get('result', {}).get('duration', 'N/A') }}"
              >
                {{ step.get('result', {}).get('duration', 'N/A') }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %} {% endfor %}

      <footer class="pt-3 pb-5">
        <div class="container text-md-start">
          <div class="printed-footer row">
            <div
              class="col-md-3 col-lg-3 col-xl-3 mx-5 mt-3 d-flex justify-content-center align-items-center"
            >
              <img
                class="footer-image"
                src="images/Bosonit.svg"
                alt="Bosonit-lema"
                width="210px"
              />
            </div>
            <div
              class="footer-text-container col-md-2 col-lg-2 col-xl-2 mx-auto mt-3"
            >
              <h5 class="text-uppercase">We share Knowledge</h5>
              <br />
              <a href="https://bosonit.com/contacto/" target="_blank"
                ><button class="btn btn-light">
                  Contact with us
                  <i class="fa-solid fa-arrow-up-right-from-square"></i></button
              ></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--End Container principal-->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Dar estilo a la primera palabra de la columna Step
        let paragraphs = document.querySelectorAll("td span");

        paragraphs.forEach(function (paragraph) {
          let words = paragraph.textContent.trim().split(" ");

          let firstWord = words.shift();

          let firstWordSpan = document.createElement("span");
          firstWordSpan.textContent = firstWord + " ";
          firstWordSpan.classList.add("blue-word");

          paragraph.innerHTML = firstWordSpan.outerHTML + words.join(" ");
        });

        // Obtener la fecha y hora actual
        const currentDate = new Date();
        const options = {
          weekday: "long",
          year: "numeric",
          month: "long",
          day: "numeric",
          hour: "2-digit",
          minute: "2-digit",
          second: "2-digit",
        };
        const currentDateTimeString = currentDate.toLocaleDateString(
          "en-US",
          options
        );

        // Mostrar la fecha y hora actual en algún elemento HTML, por ejemplo, en un párrafo con el id "currentDateTime"
        const currentDateTimeElement =
          document.getElementById("currentDateTime");
        currentDateTimeElement.textContent = currentDateTimeString;

        // Inicializar contadores para los pasos
        let passedSteps = 0;
        let failedSteps = 0;
        let noResultSteps = 0;

        // Seleccionar todos los elementos de la tabla que contienen los resultados de los pasos
        const resultElements = document.querySelectorAll("td:nth-child(2)");

        // Contar los pasos exitosos, fallidos y sin resultado
        resultElements.forEach((element) => {
          const result = element.textContent.trim();
          if (result === "passed") {
            passedSteps++;
          } else if (result === "failed") {
            failedSteps++;
          } else if (result === "No Result") {
            noResultSteps++;
          }
        });

        // Calcular el total de pasos
        const totalSteps = passedSteps + failedSteps + noResultSteps;

        // Porcentajes
        const passedPercentage = (passedSteps / totalSteps) * 100;
        const failedPercentage = (failedSteps / totalSteps) * 100;
        const noResultPercentage = (noResultSteps / totalSteps) * 100;

        // Configuración del gráfico circular
        const ctx = document.getElementById("stepsChart").getContext("2d");
        const stepsChart = new Chart(ctx, {
          type: "pie", // Tipo de gráfico
          data: {
            labels: [
              `Passed (${passedSteps})`,
              `Failed (${failedSteps})`,
              `No Result (${noResultSteps})`,
            ], // Incluye la cantidad en los labels
            datasets: [
              {
                label: "Steps Result",
                data: [passedPercentage, failedPercentage, noResultPercentage],
                backgroundColor: [
                  "rgba(7, 176, 19, 0.8)", // Color para "Passed"
                  "rgba(241, 19, 17, 0.8)", // Color para "Failed"
                  "rgba(125, 125, 125, 0.8)", // Color para "No Result"
                ],
                borderColor: [
                  "rgba(75, 192, 192, 1)",
                  "rgba(255, 99, 132, 1)",
                  "rgba(255, 206, 86, 1)",
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: "top",
              },
              title: {
                display: true,
                text: "Steps Results",
              },
            },
          },
        });

        // Obtener los elementos que contienen los tiempos de duración de los pasos
        const durationElements = document.querySelectorAll(".duration-cell");

        // Inicializar contadores para los rangos de tiempo
        let lessThanPointOne = 0;
        let pointOneToHalf = 0;
        let halfToOne = 0;
        let moreThanOne = 0;
        let noResultCount = 0; // Contador para tiempos No Result

        // Calcular la distribución de los tiempos de duración de los pasos en los cuatro rangos
        durationElements.forEach((element) => {
          const duration = element.textContent.trim();
          if (duration === "N/A") {
            noResultCount++;
          } else {
            const durationValue = parseFloat(duration);
            if (!isNaN(durationValue)) {
              // Redondear el tiempo de duración a 4 decimales
              const roundedDuration = durationValue.toFixed(4);
              element.textContent = roundedDuration; // Actualizar el texto en la celda
              if (durationValue < 0.001) {
                lessThanPointOne++;
              } else if (durationValue >= 0.001 && durationValue < 0.1) {
                pointOneToHalf++;
              } else if (durationValue >= 0.1 && durationValue < 0.5) {
                halfToOne++;
              } else {
                moreThanOne++;
              }
            }
          }
        });

        // Crear el gráfico de barras para mostrar la distribución de los tiempos de duración de los pasos
        const durationCtx = document
          .getElementById("durationChart")
          .getContext("2d");
        const durationChart = new Chart(durationCtx, {
          type: "bar",
          data: {
            labels: ["< 0.001", "0.001 - 0.1", "0.1 - 0.5", "> 0.5", "N/A"], // Agregar etiqueta para No Result
            datasets: [
              {
                label: "Step Duration",
                data: [
                  lessThanPointOne,
                  pointOneToHalf,
                  halfToOne,
                  moreThanOne,
                  noResultCount,
                ],
                backgroundColor: [
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(54, 162, 235, 0.8)",
                  "rgba(255, 206, 86, 0.8)",
                  "rgba(75, 192, 192, 0.8)",
                  "rgba(125, 125, 125, 0.8)", // Color para "N/A"
                ],
                borderColor: [
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(125, 125, 125, 1)", // Color para "N/A"
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            responsive: true,
            scales: {
              y: {
                beginAtZero: true,
                title: {
                  display: true,
                  text: "Number of Steps",
                },
              },
              x: {
                title: {
                  display: true,
                  text: "Duration Range (s)",
                },
              },
            },
          },
        });

        // Mostrar el total de pasos con animación
        const totalStepsElement = document.getElementById("totalSteps");
        totalStepsElement.textContent = `Total Steps: 0`;

        // Definir el número de incrementos para la animación
        const numberOfIncrements = 40;

        // Calcular el incremento por paso
        const stepIncrement = Math.ceil(totalSteps / numberOfIncrements);

        // Animar el incremento del número de pasos
        let currentSteps = 0;
        const incrementSteps = () => {
          if (currentSteps < totalSteps) {
            currentSteps += stepIncrement;
            if (currentSteps > totalSteps) {
              // Ajustar el valor final para evitar que sea mayor que totalSteps
              currentSteps = totalSteps;
            }
            totalStepsElement.textContent = `Total Steps: ${currentSteps}`;
            setTimeout(incrementSteps, 5);
          }
        };
        incrementSteps();
      });

      // Obtener el elemento h1 por su clase
      var h1Element = document.querySelector(".titulo_report");

      // Obtener el texto dentro del elemento h1
      var titulo = h1Element.textContent.trim();

      // Reemplazar todos los guiones bajos (_) por espacios en blanco
      var tituloFormateado = titulo.replace(/_/g, " ");

      // Actualizar el texto dentro del elemento h1 con el título formateado
      h1Element.textContent = tituloFormateado;
    </script>
  </body>
</html>
